clarabel==0.6.0
colorama==0.4.6
contourpy==1.1.1
cvxpy==1.4.1
cycler==0.12.1
ecos==2.0.12
fonttools==4.45.0
gekko==1.0.6
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.4
numpy==1.24.4
osqp==0.6.3
packaging==23.2
pandas==2.0.3
Pillow==10.1.0
pybind11==2.11.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
qdldl==0.1.7.post0
scipy==1.10.1
scs==3.2.4
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
zipp==3.17.0
